#login_form {
    width: 30%;
    float: left;
}

.main{
    margin: 80px 18.5% 250px 18.5%;
    width: 63%
}

.card{
	height: 170px;
	width: 170px;
}

.container{
	overflow-x: scroll;
    overflow-y: hidden;
	height: 200px;
    display: flex;
}

.card-body{
    height: 100%
}
img {
    height: 100%;
}

.card-title{
    font-size: 64px;
}
