#login_form {
    width: 30%;
    float: left;
}

.main{
    margin: 80px 18.5% 250px 18.5%;
    width: 63%
}

.card{
	min-height: 170px;
	min-width: 200px;
}

.container{
	overflow-x: scroll;
    overflow-y: inherit;
	height: 200px;
    display: flex;
}
